<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <div id="container"><img src="<%= asset_path "top.jpg" %>" alt="Instant" ></div>
</section>


<div id="page-top-btn" class="page-top-btn">
  <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>
