<p>アカウント登録のお知らせ <%= @email %></p>

<p>メール内のリンクからアカウントを有効化させてください。</p>
<p>また、このメールにお心あたりのない方はメールを破棄下さい。</p>

<p><%= link_to 'アカウントを有効にする', confirmation_url(@resource, confirmation_token: @token) %></p>
